// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { 
    // .wrapper-1, .wrapper-2, .wrapper-3{
    //     overflow-x: hidden;
    // }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .wrapper-1, .wrapper-2, .wrapper-3{
        padding: 40px 50px !important;
    }
    .wrapper-2 .tab-con{
        padding: 15px 20px;
        li{
            margin: 6px;
        }
        .nav-item button{
            padding: 10px 18px !important;
        }
    }
    .tooltip-info-bl{
        min-width: 25vw !important;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .wrapper-1, .wrapper-2, .wrapper-3{
        padding: 40px 20px !important;
        width: 90% !important;
        margin-left: 5%;
        // margin-bottom: 15px;
    }
    .msg-con, .msg-con-2{
        padding: 15px;
    }
    .msg-con-2 .des-list li{
        font-size: 15px;
    }
    .txt-des{
        line-height: 25px;
        font-size: 15px;
    }
    .tab-con .mob-scroll{
        overflow-x: scroll;
        width: 600px;
        display: flex;

        li{
            min-width: 100px;
            max-width: 120px;
        }
    }
    .wrapper-2 {
        .tab-con .tab-content .tab-pane{
            padding: 0px !important;
            font-size: 13px;
            overflow-x: auto;
        }

    }
    .tooltip-info-bl{
        min-width: 40vw !important;
        right: -10vw;
    }
    .application-form{
        .col-lg-4, .col-lg-6:nth-child(1){
            margin-bottom: 20px;
        }
        .col-lg-4:last-child{
            margin-bottom: 0px;
        }
    }
}
@media (max-width: 575.98px) { 
    .mob-margin{
        margin-bottom: 20px;
    }
    .employment-table{
        input{
            min-width: 200px;
        }
    }
    .field-bl{
        .col-lg-4, .col-lg-6:nth-child(1){
            margin-bottom: 20px;
        }
        .col-lg-4:last-child{
            margin-bottom: 0px;
        }
    }
 }